<form action="fillmylist" method="get">
<select name="entity_type">
	<option value="person" selected="1">Person</option>
	<option value="subject">Subject</option>
	<option value="equipment">Equipment</option>
</select>

<select name="output">
	<option value="html" selected="1">HTML</option>
	<option value="xml">XML</option>
	<option value="json">JSON</option>
	<option value="eprints">EPrints</option>
	<option value="dspace">DSpace</option>
	<option value="fedora">Fedora</option>
</select>

<br/>
Family Name: <input type="text" name="fname"/><br/>
Given Name: <input type="text" name="gname"/><br/>
Email: <input type="text" name="email"/><br/>
ORCID: <input type="text" name="orcid"/><br/>



<input type="submit" value="Submit"/>
</form>
